/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
.header{
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 28px;
  display: flex;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  padding: 0 10px;
}
#record_size{
  width: 3.5rem;
  outline: none;
  font-size: 25px;
}
.searchContainer{
  min-width: 35%;
}
label input{
  height: 30px;
  outline: none;
  font-size: 0.7em;
}
.AddDetails{
  width: 5rem;
  height: 35px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}
.AddDetails:hover{
  background-color: rgb(83, 181, 83);
  transition: 0.2s;
  color: #fff;
}
table{
  width: 100vw;
  padding: 0 20px;
  font-size: 18px;
  text-align: left;
}
table thead tr{
  font-size: 22px;
}
tbody tr td{
  font-size: 22px;
  padding: 5px 0;
}
.tableContainer{
  width: 100%;
  height: 85%;
  margin-top: 100px;
  padding: 20px 0;
}
tr:hover{
  background-color: rgb(185, 183, 183);
}
ul li{
  list-style: none;
}
.pagination ul li{
  margin: 0px 10px;
}
.pagination{
  position: fixed;
  bottom: 0;
  height: 68px;
  font-size: 28px;
  width: 100%;
  align-items: center;
  z-index: 84889;
  align-items: center;
  text-align: center;
  padding: 18px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: rgb(255, 255, 255);
}
.pagination ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

}
.active{
  background-color: rgb(153, 153, 205);
}
.pagination ul li{
  min-width: 25px;
  text-align: center;
  border-radius: 5px;
}
.pagination ul li button{
  width: auto;
  height: 34px;
  padding: 0 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.pagination ul li:hover,button:hover{
  background-color: #8385f4;
  color: white;
  cursor: pointer;
}